@model IEnumerable<FirstDemo.Models.orphanageRegistration1>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.oName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.oRegistrationNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.addressLine1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.addressLine2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.landmark)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pincode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.oName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.oRegistrationNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.addressLine1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.addressLine2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.landmark)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.state)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pincode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.oId }) |
            @Html.ActionLink("Details", "Details", new { id=item.oId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.oId })
        </td>
    </tr>
}

</table>
